# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
android/jni/libluajit.a
android53/jni/liblua.a
window/x86_64/libluajit.a
window/x86_64/liblua.a
window/x86/libluajit.a
window/x86/liblua.a
